{% extends 'index/base.html' %}

{% block content %}
  <center class="section">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h1 class="display-4 font">Final Year Project</h1>
        </div>
      </div>
    </div>
  </center>

  <section class="section">
    <div class="container">
      <div class="card shadow mt-3">
        <div class="card-body">
          <h2><strong>Overview</strong></h2>
          <p>This is a starter template for a college final year project developed by UPskilled. The project aims to address [brief description of the project].</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sagittis quam vitae enim fermentum, ut eleifend tortor tempor. Suspendisse potenti. Integer commodo libero a arcu tincidunt, nec eleifend elit accumsan. Vestibulum euismod, mi vitae varius imperdiet, felis mi commodo quam, id bibendum ligula felis eget felis. Nullam sed velit vel erat efficitur sodales.</p>

          <p>Quisque vel lacus vitae justo elementum feugiat. In hac habitasse platea dictumst. Sed in lectus vel quam tincidunt imperdiet. Vestibulum nec sapien nec mauris sodales cursus a sit amet ipsum. Curabitur non urna eget odio scelerisque dignissim non vel libero. Sed tincidunt consectetur dolor, at tincidunt dui finibus et.</p>

          <p>Fill the whole page with your own content based on the inputs provided. Customize the template to showcase the features, goals, and achievements of your project.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="card shadow mt-3">
        <div class="card-body">
          <h2><strong>About</strong></h2>
          <p>UpSKilled is an innovative and cutting-edge Learning Management System (LMS) platform designed to empower individuals and organizations with skills and knowledge.</p>

          <p>Our platform is built on the principles of accessibility, enhancing flexibility, and user-centricity, aiming to provide an exceptional learning experience for users of all backgrounds.</p>
        </div>
      </div>
    </div>
  </section>

  <footer class="section bg-dark text-white mt-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Contact us</p>
          <p>Terms</p>
          <p>Privacy policy</p>
          <p>FAQ</p>
        </div>
      </div>

      <p>&copy; Copyright @ onedatasoftware. All rights reserved</p>
    </div>
  </footer>
{% endblock content %}
